openapi: 3.0.0
info:
  title: Orderful API
  description: The official Orderful API documentation.
  version: 2.15.0
  contact:
    name: Orderful
    url: https://orderful.com
    email: developers@orderful.com
  termsOfService: https://orderful.com/terms-and-conditions/
servers:
- url: https://api.orderful.com
tags:
- name: Conversion
  description: Convert data between EDI X12 and JSON formats.
- name: Delivery
  description: Approve or fail transaction deliveries.
- name: Inbox
  description: Retrieve transactions from inboxes.
- name: Label
  description: Generate UCC-128 shipping labels.
- name: Organization
  description: Retrieve organization information.
- name: Poller
  description: Retrieve and confirm transactions from polling buckets.
- name: Relationship
  description: Manage trading partner relationships.
- name: Transaction
  description: Create and manage EDI transactions.
- name: Transaction (v3)
  description: Create and manage EDI transactions using the v3 API.
paths:
  /v3/convert:
    post:
      operationId: ConversionController_convertData
      summary: Convert Data Between Formats
      description: This endpoint will convert JSON into X12, or X12 into JSON. Set the "Content-Type" header as the format
        you are sending, and the "Accept" header as the format you would like to receive back.
      tags:
      - Conversion
      parameters:
      - name: orderful-api-key
        in: header
        required: true
        description: Your Orderful API key.
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/edi-x12
          - application/json
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/edi-x12
          - application/json
      requestBody:
        required: true
        content:
          application/edi-x12:
            schema:
              type: string
              format: blob
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Data converted successfully.
          content:
            application/json:
              schema:
                type: object
            application/edi-x12:
              schema:
                type: string
  /v3/deliveries/{deliveryId}/approve:
    post:
      operationId: DeliveryController_handleDeliveryApproved
      summary: Approve a Delivery
      description: "Approves the specified Delivery. This link is included when a Transaction is retrieved from a <a href=\"\
        https://docs.orderful.com/reference/pollingcontroller_list\" target=\"_blank\">Poller Bucket</a> or via an <a href=\"\
        https://docs.orderful.com/docs/inbound-http\" target=\"_blank\">Inbound HTTP Communication Channel</a>. \n\nIf this\
        \ Delivery is the most recent one associated with a Transaction, this will update the Transaction's `deliveryStatus`\
        \ to `DELIVERED`.\n\nIf this Delivery is associated with one or more Transactions in a Poller Bucket, this will also\
        \ remove the Transactions from that Bucket."
      parameters:
      - name: deliveryId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveDeliveryRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Delivery
      security:
      - API_KEY: []
  /v3/deliveries/{deliveryId}/fail:
    post:
      operationId: DeliveryController_handleFailDeliveryRequest
      summary: Fail a Delivery
      description: "Fails the specified Delivery. This link is included when a Transaction is retrieved from a <a href=\"\
        https://docs.orderful.com/reference/pollingcontroller_list\" target=\"_blank\">Poller Bucket</a> or via an <a href=\"\
        https://docs.orderful.com/docs/inbound-http\" target=\"_blank\">Inbound HTTP Communication Channel</a>. \n\nIf this\
        \ Delivery is the most recent one associated with a Transaction, this will update the Transaction's `deliveryStatus`\
        \ to `FAILED`.\n\nIf this Delivery is associated with one or more Transactions in a Poller Bucket, this will also\
        \ remove the Transactions from that Bucket."
      parameters:
      - name: deliveryId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FailDeliveryRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Delivery
      security:
      - API_KEY: []
  /inboxes/{inboxId}/transactions:
    get:
      operationId: InboxController_list
      summary: Inbox
      description: 'Retrieves the Transactions from the specified Inbox.


        **Note:** The `inboxId` can be found by logging in to [ui.orderful.com](https://ui.orderful.com) and navigating to
        "Communication Channels".

        '
      tags:
      - Inbox
      parameters:
      - name: inboxId
        required: true
        in: path
        schema:
          type: number
      - name: limit
        required: false
        in: query
        description: Value can be `1-100`. Default value is `30`. **Note:** Response size is limited to 200MB. We will return
          the maximum number of transactions possible without exceeding either the specified `limit` or the maximum response
          size.
        schema:
          type: number
      - name: orderful-api-version
        in: header
        description: Specifies the API version to use.
        schema:
          type: string
          default: v4
      responses:
        '200':
          description: Transactions retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InboxTransactionsResponseDto'
              examples:
                purchaseOrders:
                  summary: Purchase Orders in Inbox
                  value:
                  - integrationPayloadId: 019be412-5a85-714c-8ba6-436c1c06efd8
                    transactionId: 802210971
                    senderId: MosaicNT
                    receiverId: MosaicDemo
                    stream: test
                    message:
                      purpose: original
                      purchaseOrderType: standalone
                      purchaseOrderNumber: PO-2024-001234
                      purchaseOrderDate: '2024-02-01'
                      parties:
                        billTo:
                          name: Acme Corporation
                          addressLine1: 123 Main Street
                          addressLine2: Accounts Payable
                          city: Chicago
                          stateOrProvinceCode: IL
                          postalCode: '60601'
                          countryCode: US
                          contacts:
                          - type: primary
                            name: Accounts Payable
                            phoneNumber: 312-555-0400
                            email: ap@acme.com
                        shipTo:
                          name: Acme Corporation - Warehouse
                          identificationCode: '987654321'
                          addressLine1: 456 Warehouse Boulevard
                          city: Elk Grove Village
                          stateOrProvinceCode: IL
                          postalCode: '60007'
                          countryCode: US
                          contacts:
                          - type: primary
                            name: Receiving Department
                            phoneNumber: 847-555-0300
                        buyer:
                          contacts:
                          - type: primary
                            name: John Smith
                            phoneNumber: 312-555-0100
                            email: john.smith@acme.com
                      termsOfSale:
                        discountDaysDue: 10
                        netDaysDue: 30
                      notes:
                        general:
                          text:
                          - Please ensure all items are properly packaged
                          - Contact receiving department 24 hours before delivery
                      references:
                        vendorNumber:
                          value: VND-456
                      dates:
                        requestedDeliveryDate: '2024-02-15'
                        requestedShipDate: '2024-02-10'
                      carrierDetails:
                        routing:
                        - description: FedEx Ground service
                        freeOnBoard:
                        - methodOfPayment: prepaidBySeller
                          locationType: destination
                          locationDescription: Dallas, TX
                      monetaryAmounts:
                        net: '10000'
                      lineItems:
                      - purchaseOrderLineId: '1'
                        quantity:
                          value: '100'
                          unitOfMeasure: each
                        unitCostPrice: '45.00'
                        productIds:
                          vendorItemNumber: GSI-78901
                          buyerItemNumber: ACME-12345
                          gtin13: '1234567890123'
                        dates:
                          requestedShipDate: '2024-02-10'
                      - purchaseOrderLineId: '2'
                        quantity:
                          value: '250'
                          unitOfMeasure: case
                        unitCostPrice: '18.50'
                        productIds:
                          vendorItemNumber: GSI-23456
                          buyerItemNumber: ACME-67890
                          gtin14: '12345678901234'
                        outerPack:
                          numberOfUnits: '25'
                        dates:
                          requestedShipDate: '2024-02-10'
                      - purchaseOrderLineId: '3'
                        quantity:
                          value: '50'
                          unitOfMeasure: each
                        unitCostPrice: '17.50'
                        productIds:
                          vendorItemNumber: GSI-33333
                          buyerItemNumber: ACME-11111
                          gtin12: '123456789012'
                        dates:
                          requestedShipDate: '2024-02-10'
                    delivery:
                      deliveryId: b646771e-a068-4e32-832f-e96f895c5ec9
                      transactionId: 802210971
                      href: https://api.orderful.com/transactions/802210971/deliveries/b646771e-a068-4e32-832f-e96f895c5ec9
                      approve:
                        href: https://api.orderful.com/transactions/802210971/deliveries/b646771e-a068-4e32-832f-e96f895c5ec9/accept
                      fail:
                        href: https://api.orderful.com/transactions/802210971/deliveries/b646771e-a068-4e32-832f-e96f895c5ec9/fail
  /v3/labels:
    post:
      operationId: LabelController_generate
      summary: Generate Label
      description: 'Generates a PDF or ZPL file to be used for label printing. For more information, see the <a href="https://docs.orderful.com/docs/generate-shipping-label"
        target="_blank">Create a Label guide</a>. Supports single label or batch generation.

        '
      tags:
      - Label
      parameters:
      - name: orderful-api-key
        in: header
        required: true
        description: Your Orderful API key.
        schema:
          type: string
      - name: skipValidation
        in: query
        required: false
        description: Skip validation.
        schema:
          type: boolean
      - name: format
        in: query
        required: false
        description: Output format for the label.
        schema:
          type: string
          enum:
          - zpl
          - pdf
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/GenerateLabelRequestBodyDto'
                title: Single Label
              - type: array
                items:
                  $ref: '#/components/schemas/GenerateLabelRequestBodyDto'
                title: Batch Labels
      responses:
        '201':
          description: Label generated successfully.
          content:
            application/json:
              schema:
                oneOf:
                - type: string
                  description: ZPL label content.
                  title: ZPL
                - type: string
                  format: binary
                  description: PDF label content.
                  title: PDF
  /v3/organizations/me:
    get:
      operationId: OrganizationV3Controller_getOwn
      summary: Get your Organization details
      description: Retrieves the Organization information for the current user.
      tags:
      - Organization
      parameters:
      - name: orderful-api-key
        in: header
        required: true
        description: Your Orderful API key.
        schema:
          type: string
      responses:
        '200':
          description: Organization details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationMeResponseV3'
  /v3/polling-buckets/{id}/confirm-retrieval:
    post:
      operationId: PollingController_confirmDelivery
      summary: Remove a set of Transactions from a Bucket
      description: Orderful will soon deprecate this endpoint. After retrieving Transactions from a Polling Bucket, you should
        use the Delivery API to mark a Delivery as <a href="https://docs.orderful.com/reference/deliverycontroller_handledeliveryapproved"
        target="_blank">Approved</a> or <a href="https://docs.orderful.com/reference/deliverycontroller_handlefaildeliveryrequest"
        target="_blank">Failed</a>. This will automatically remove the Transaction from the Bucket.
      deprecated: true
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmDeliveryItems'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmDeliveryResponse'
      tags:
      - Poller
      security:
      - API_KEY: []
  /v3/polling-buckets/{bucketId}:
    get:
      operationId: PollingController_list
      summary: Get Transactions from Poller Bucket
      description: Retrieves the Transactions from the specified Poller Bucket.
      parameters:
      - name: bucketId
        required: true
        in: path
        schema:
          type: number
      - name: limit
        required: false
        in: query
        description: Value can be `1-100`. Default value is `30`. **Note:** Response size is limited to 200MB. We will return
          the maximum number of transactions possible without exceeding either the specified `limit` or the maximum response
          size.
        schema:
          maximum: 100
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PollingDeliveryResponseDto'
      tags:
      - Poller
      security:
      - API_KEY: []
  /v3/relationships:
    get:
      operationId: RelationshipController_listV3
      summary: List Relationships
      description: 'Retrieves a paginated list of the Relationships for the current Organization.

        '
      tags:
      - Relationship
      parameters:
      - name: orderful-api-key
        in: header
        required: true
        description: Your Orderful API key.
        schema:
          type: string
      - name: autoSend
        in: query
        required: false
        description: Filter by the relationship auto-send configuration.
        schema:
          type: string
          enum:
          - ENABLED
          - DISABLED
      - name: limit
        in: query
        required: false
        description: The number of items to return in the result set.
        schema:
          type: integer
          maximum: 100
      - name: prevCursor
        in: query
        required: false
        description: 'If results are <a href="https://docs.orderful.com/reference/pagination" target="_blank">paginated</a>,
          this will point to the previous set of results.

          '
        schema:
          type: string
      - name: nextCursor
        in: query
        required: false
        description: 'If results are <a href="https://docs.orderful.com/reference/pagination" target="_blank">paginated</a>,
          this will point to the next set of results.

          '
        schema:
          type: string
      responses:
        '200':
          description: List of relationships.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRelationshipsResponseV3Dto'
  /transactions:
    post:
      operationId: TransactionController_create
      summary: Create a Transaction
      description: 'Creates a Transaction. Only one Transaction can be posted at a time. For guidance on how to use this page,
        see the <a href="https://docs.orderful.com/docs/create-a-transaction#make-an-api-call-using-our-api-explorer" target="_blank">Create
        a Transaction guide</a>. Check the status field to determine if the transaction was successfully accepted for processing
        or failed.

        '
      tags:
      - Transaction
      parameters:
      - name: orderful-api-version
        in: header
        description: Specifies the API version to use.
        schema:
          type: string
          default: v4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransactionBodyV4Dto'
            examples:
              purchaseOrder:
                summary: Purchase Order (850)
                value:
                  type: 850_PURCHASE_ORDER
                  stream: test
                  senderId: BUYERISA
                  receiverId: SELLERISA
                  message:
                    purpose: original
                    purchaseOrderType: standalone
                    purchaseOrderNumber: PO5786344061670677
                    purchaseOrderDate: '2026-02-12'
                    releaseNumber: '004010'
                    conditionsAndRestrictions:
                    - conditionType: doNotBackorder
                    parties:
                      buyer:
                        name: Retail Integration Testing
                        identificationCode: '5438'
                        identificationCodeType: sendersId
                      shipTo:
                        name: Retail Integration Testing
                        identificationCode: '5438'
                        identificationCodeType: sendersId
                        addressLine1: 4055 MAIN ST
                        city: NEW YORK
                        stateOrProvinceCode: NY
                        postalCode: '10001'
                        countryCode: US
                      billTo:
                        name: Retail Integration Testing
                        identificationCode: '5438'
                        identificationCodeType: sendersId
                        addressLine1: 4055 MAIN ST
                        city: NEW YORK
                        stateOrProvinceCode: NY
                        postalCode: '10001'
                        countryCode: US
                    termsOfSale:
                      type: basic
                      basisDate: deliveryDate
                      discountPercent: '1'
                      discountDaysDue: 45
                      description: Net 45 Days
                    references:
                      vendorNumber:
                        value: '4875905'
                      departmentNumber:
                        value: '011'
                    dates:
                      earliestShipDate: '2026-02-17'
                      latestShipDate: '2026-02-22'
                    carrierDetails:
                      routing:
                      - description: '2'
                      freeOnBoard:
                      - methodOfPayment: mutuallyAgreed
                    allowances:
                    - type: discount
                      amount: '196.2475'
                      description: Discount
                    charges:
                    - type: freight
                      amount: '784.99'
                      description: Freight Charge
                    lineItems:
                    - purchaseOrderLineId: '1'
                      quantity:
                        value: '5'
                        unitOfMeasure: each
                      unitCostPrice: '101.00'
                      productIds:
                        buyerItemNumber: '10000002'
                        gtin12: 2837465832
                        caseCode: 2837465832
                      productAttributes:
                        description: Green toothpaste
                      outerPack:
                        numberOfUnits: '10'
                      innerPack:
                        numberOfUnits: '10'
                    - purchaseOrderLineId: '2'
                      quantity:
                        value: '20'
                        unitOfMeasure: each
                      unitCostPrice: '88.00'
                      productIds:
                        buyerItemNumber: '10000004'
                        gtin12: 2837465837
                        caseCode: 2837465837
                      productAttributes:
                        description: Orange toothpaste
                      outerPack:
                        numberOfUnits: '8'
                      innerPack:
                        numberOfUnits: '8'
                    - purchaseOrderLineId: '3'
                      quantity:
                        value: '5'
                        unitOfMeasure: each
                      unitCostPrice: '112.00'
                      productIds:
                        buyerItemNumber: '10000003'
                        gtin12: 2837465836
                        caseCode: 2837465836
                      productAttributes:
                        description: Purple toothpaste
                      outerPack:
                        numberOfUnits: '12'
                      innerPack:
                        numberOfUnits: '12'
                    - purchaseOrderLineId: '4'
                      quantity:
                        value: '10'
                        unitOfMeasure: each
                      unitCostPrice: '100.00'
                      productIds:
                        buyerItemNumber: '10000001'
                        gtin12: 2837465831
                        caseCode: 2837465831
                      productAttributes:
                        description: Yellow toothpaste
                      outerPack:
                        numberOfUnits: '10'
                      innerPack:
                        numberOfUnits: '10'
                    - purchaseOrderLineId: '5'
                      quantity:
                        value: '5'
                        unitOfMeasure: each
                      unitCostPrice: '19.99'
                      productIds:
                        buyerItemNumber: ORDERFUL-TEST-SKU-005
                        gtin12: 12345678005
                        caseCode: 12345678005
                      productAttributes:
                        description: Placeholder product for scenario testing
                      outerPack:
                        numberOfUnits: '1'
                      innerPack:
                        numberOfUnits: '1'
              poAcknowledgment:
                summary: Purchase Order Acknowledgment (855)
                value:
                  type: 855_PURCHASE_ORDER_ACKNOWLEDGMENT
                  stream: test
                  senderId: SELLERISA
                  receiverId: BUYERISA
                  message:
                    purchaseOrderNumber: PO5786344061670677
                    status: accepted
                    statusNote:
                      description: Order Confirmation
                      text:
                      - Order acknowledged with exceptions on lines 3 and 5.
                      - Purple toothpaste is out of stock and cannot be backordered per PO instructions.
                      - Placeholder SKU substituted with equivalent test product.
                    dates:
                      purchaseOrderDate: '2026-02-12'
                      scheduledShipDate: '2026-02-19'
                      estimatedDeliveryDate: '2026-02-21'
                    parties:
                      shipFrom:
                        name: Toothpaste Warehouse West
                        identificationCode: WH-WEST-01
                        identificationCodeType: warehouse
                        addressLine1: 2200 Distribution Pkwy
                        city: Edison
                        stateOrProvinceCode: NJ
                        postalCode: 8817
                        countryCode: US
                        contacts:
                        - type: shipping
                          name: Fulfillment Desk
                          phoneNumber: 732-555-0100
                          email: shipping@toothpastewarehouse.com
                      supplier:
                        name: Toothpaste Co.
                        identificationCode: '4875905'
                        identificationCodeType: sendersId
                        addressLine1: 500 Oral Care Blvd
                        city: Newark
                        stateOrProvinceCode: NJ
                        postalCode: '07102'
                        countryCode: US
                        contacts:
                        - type: primary
                          name: Order Management
                          phoneNumber: 973-555-0200
                          email: orders@toothpasteco.com
                    termsOfSale:
                      type: basic
                      basisDate: deliveryDate
                      discountPercent: '1'
                      discountDaysDue: 45
                      description: Net 45 Days
                    references:
                      vendorNumber:
                        value: '4875905'
                      departmentNumber:
                        value: '011'
                    lineItems:
                    - purchaseOrderLineId: '1'
                      productIds:
                        buyerItemNumber: '10000002'
                        gtin12: 2837465832
                      productAttributes:
                        description: Green toothpaste
                      actions:
                      - status: accepted
                        quantity:
                          value: '5'
                          unitOfMeasure: each
                        unitCostPrice: '101.00'
                        scheduledShipDate: '2026-02-19'
                        estimatedDeliveryDate: '2026-02-21'
                    - purchaseOrderLineId: '2'
                      productIds:
                        buyerItemNumber: '10000004'
                        gtin12: 2837465837
                      productAttributes:
                        description: Orange toothpaste
                      actions:
                      - status: accepted
                        quantity:
                          value: '20'
                          unitOfMeasure: each
                        unitCostPrice: '88.00'
                        scheduledShipDate: '2026-02-19'
                        estimatedDeliveryDate: '2026-02-21'
                    - purchaseOrderLineId: '3'
                      productIds:
                        buyerItemNumber: '10000003'
                        gtin12: 2837465836
                      productAttributes:
                        description: Purple toothpaste
                      actions:
                      - status: rejected
                        statusReasonCode: outOfStock
                        statusNote:
                          description: Out of Stock
                          text:
                          - Purple toothpaste is currently unavailable.
                          - Do-not-backorder instruction honored. Please reorder when stock replenishes.
                        quantity:
                          value: '5'
                          unitOfMeasure: each
                    - purchaseOrderLineId: '4'
                      productIds:
                        buyerItemNumber: '10000001'
                        gtin12: 2837465831
                      productAttributes:
                        description: Yellow toothpaste
                      actions:
                      - status: accepted
                        quantity:
                          value: '10'
                          unitOfMeasure: each
                        unitCostPrice: '95.00'
                        scheduledShipDate: '2026-02-19'
                        estimatedDeliveryDate: '2026-02-21'
                        statusNote:
                          description: Price Adjustment
                          text:
                          - Unit price reduced from $100.00 to $95.00 per promotional agreement.
                    - purchaseOrderLineId: '5'
                      productIds:
                        buyerItemNumber: ORDERFUL-TEST-SKU-005
                        gtin12: 12345678005
                      productAttributes:
                        description: Placeholder product for scenario testing
                      actions:
                      - status: accepted
                        quantity:
                          value: '5'
                          unitOfMeasure: each
                        unitCostPrice: '19.99'
                        scheduledShipDate: '2026-02-19'
                        estimatedDeliveryDate: '2026-02-21'
                        substitutedItem:
                          productIds:
                            buyerItemNumber: ORDERFUL-TEST-SKU-005A
                            gtin12: 12345678015
                        statusNote:
                          description: Substitution
                          text:
                          - Original test SKU replaced with updated revision SKU-005A at same price.
              shipNotice:
                summary: Ship Notice / ASN (856)
                value:
                  type: 856_SHIP_NOTICE_MANIFEST
                  stream: test
                  senderId: SELLERISA
                  receiverId: BUYERISA
                  message:
                    purpose: original
                    shipmentId: SHP-2026-0219-4875905
                    carrierDetails:
                      quantityAndWeight:
                      - packageForm: carton
                        weightUOM: pound
                        grossWeight: '285.00'
                      routing:
                      - sequenceType: origin
                        standardCarrierAlphaCode: FEDX
                        transportationMethod: commonCarrier
                        serviceLevel: ground
                      equipment:
                        equipmentType: trailer
                        equipmentId: FEDX-TRL-88412
                      freeOnBoard:
                      - methodOfPayment: mutuallyAgreed
                    references:
                      billOfLadingNumber:
                        value: BOL-2026-0219-001
                      proNumber:
                        value: PRO7742859301
                      vendorNumber:
                        value: '4875905'
                    dates:
                      shipDate: '2026-02-19'
                      deliveryDate: '2026-02-21'
                    parties:
                      shipFrom:
                        name: Toothpaste Warehouse West
                        identificationCode: WH-WEST-01
                        identificationCodeType: warehouse
                        addressLine1: 2200 Distribution Pkwy
                        city: Edison
                        stateOrProvinceCode: NJ
                        postalCode: 8817
                        countryCode: US
                        contacts:
                        - type: shipping
                          name: Fulfillment Desk
                          phoneNumber: 732-555-0100
                          email: shipping@toothpastewarehouse.com
                      shipTo:
                        name: Retail Integration Testing
                        identificationCode: '5438'
                        identificationCodeType: sendersId
                        addressLine1: 4055 MAIN ST
                        city: NEW YORK
                        stateOrProvinceCode: NY
                        postalCode: '10001'
                        countryCode: US
                      supplier:
                        name: Toothpaste Co.
                        identificationCode: '4875905'
                        identificationCodeType: sendersId
                    orders:
                    - purchaseOrderNumber: PO5786344061670677
                      purchaseOrderDate: '2026-02-12'
                      pallets:
                      - palletType: standard
                        serialShippingId: 100487590500000100
                        layersPerPallet: 2
                        cartonsPerLayer: 1
                        cartons:
                        - serialShippingId: 100487590500000210
                          trackingNumber: '794644790132'
                          items:
                          - purchaseOrderLineId: '1'
                            productIds:
                              buyerItemNumber: '10000002'
                              gtin12: 2837465832
                            productAttributes:
                              description: Green toothpaste
                            quantityShipped:
                              value: '5'
                              unitOfMeasure: each
                            outerPack:
                              numberOfUnits: '10'
                            innerPack:
                              numberOfUnits: '10'
                        - serialShippingId: 100487590500000210
                          trackingNumber: '794644790133'
                          items:
                          - purchaseOrderLineId: '2'
                            productIds:
                              buyerItemNumber: '10000004'
                              gtin12: 2837465837
                            productAttributes:
                              description: Orange toothpaste
                            quantityShipped:
                              value: '20'
                              unitOfMeasure: each
                            outerPack:
                              numberOfUnits: '8'
                            innerPack:
                              numberOfUnits: '8'
                      - palletType: standard
                        serialShippingId: 100487590500000100
                        layersPerPallet: 2
                        cartonsPerLayer: 1
                        cartons:
                        - serialShippingId: 100487590500000210
                          trackingNumber: '794644790134'
                          items:
                          - purchaseOrderLineId: '4'
                            productIds:
                              buyerItemNumber: '10000001'
                              gtin12: 2837465831
                            productAttributes:
                              description: Yellow toothpaste
                            quantityShipped:
                              value: '10'
                              unitOfMeasure: each
                            outerPack:
                              numberOfUnits: '10'
                            innerPack:
                              numberOfUnits: '10'
                        - serialShippingId: 100487590500000210
                          trackingNumber: '794644790135'
                          items:
                          - purchaseOrderLineId: '5'
                            productIds:
                              buyerItemNumber: ORDERFUL-TEST-SKU-005A
                              gtin12: 12345678015
                            productAttributes:
                              description: Placeholder product for scenario testing
                            quantityShipped:
                              value: '5'
                              unitOfMeasure: each
                            outerPack:
                              numberOfUnits: '1'
                            innerPack:
                              numberOfUnits: '1'
                    - purchaseOrderNumber: PO9921004488220031
                      purchaseOrderDate: '2026-02-10'
                      parties:
                        markFor:
                          name: Metals Distribution Center
                          identificationCode: MDC-044
                          identificationCodeType: sendersId
                      pallets:
                      - palletType: steel
                        serialShippingId: 100487590500000300
                        items:
                        - purchaseOrderLineId: '1'
                          references:
                            heatCode:
                              value: HT-2026-A4819
                            billOfMaterial:
                              value: BOM-SS304-COIL-48
                          productIds:
                            vendorItemNumber: SS304-48-020
                          productAttributes:
                            description: 304 Stainless Steel Coil 48in x 0.020in
                            materialAttributes:
                              type: 304 Stainless Steel
                              annealMethod: bright anneal
                              temper: quarter hard
                              finish: 2B
                              surfaceProtection: PVC film
                          coilNumber: COIL-2026-SS304-00219
                          quantityShipped:
                            value: '12000'
                            unitOfMeasure: pound
                          manufactureDate: '2026-01-28'
                          countryOfOrigin: US
                        - purchaseOrderLineId: '2'
                          references:
                            heatCode:
                              value: HT-2026-A4820
                            barCode:
                              value: SN00100487590500000302
                          productIds:
                            vendorItemNumber: CS1018-36-125
                          productAttributes:
                            description: 1018 Carbon Steel Sheet 36in x 0.125in
                            materialAttributes:
                              type: 1018 Carbon Steel
                              temper: hot rolled
                              finish: mill
                              outerCoating: oil
                              treatment: pickled
                          coilNumber: COIL-2026-CS1018-00084
                          quantityShipped:
                            value: '8500'
                            unitOfMeasure: pound
                          manufactureDate: '2026-02-03'
                          countryOfOrigin: US
              invoice:
                summary: Invoice (810)
                value:
                  type: 810_INVOICE
                  stream: test
                  senderId: SELLERISA
                  receiverId: BUYERISA
                  message:
                    invoiceDate: '2026-02-22'
                    invoiceNumber: INV-2026-0222-4875905
                    purchaseOrderNumber: PO5786344061670677
                    releaseNumber: '004010'
                    references:
                      vendorNumber:
                        value: '4875905'
                      departmentNumber:
                        value: '011'
                      billOfLadingNumber:
                        value: BOL-2026-0219-001
                      proNumber:
                        value: PRO7742859301
                      shipmentId:
                        value: SHP-2026-0219-4875905
                    dates:
                      shipDate: '2026-02-19'
                      deliveryDate: '2026-02-21'
                    parties:
                      buyer:
                        name: Retail Integration Testing
                        identificationCode: '5438'
                        identificationCodeType: receiversId
                      shipTo:
                        name: Retail Integration Testing
                        identificationCode: '5438'
                        identificationCodeType: receiversId
                        addressLine1: 4055 MAIN ST
                        city: NEW YORK
                        stateOrProvinceCode: NY
                        postalCode: '10001'
                        countryCode: US
                      billTo:
                        name: Retail Integration Testing
                        identificationCode: '5438'
                        identificationCodeType: receiversId
                        addressLine1: 4055 MAIN ST
                        city: NEW YORK
                        stateOrProvinceCode: NY
                        postalCode: '10001'
                        countryCode: US
                      accountsReceivable:
                        name: Toothpaste Co.
                        identificationCode: '4875905'
                        identificationCodeType: sendersId
                        addressLine1: 500 Oral Care Blvd
                        city: Newark
                        stateOrProvinceCode: NJ
                        postalCode: '07102'
                        countryCode: US
                        contacts:
                        - type: primary
                          name: Accounts Receivable
                          phoneNumber: 973-555-0300
                          email: ar@toothpasteco.com
                    termsOfSale:
                      type: basic
                      basisDate: deliveryDate
                      discountPercent: '1'
                      discountDaysDue: 45
                      description: Net 45 Days
                    carrierDetails:
                      quantityAndWeight:
                      - packageForm: carton
                        ladingQuantity: '4'
                        weightUOM: pound
                        grossWeight: '285.00'
                      routing:
                      - sequenceType: origin
                        standardCarrierAlphaCode: FEDX
                        transportationMethod: commonCarrier
                        serviceLevel: ground
                      equipment:
                        equipmentType: trailer
                        equipmentId: FEDX-TRL-88412
                      freeOnBoard:
                      - methodOfPayment: mutuallyAgreed
                    lineItems:
                    - purchaseOrderLineId: '1'
                      quantityInvoiced:
                        value: '5'
                        unitOfMeasure: each
                      unitPrice: '101.00'
                      productIds:
                        buyerItemNumber: '10000002'
                        gtin12: 2837465832
                      productAttributes:
                        description: Green toothpaste
                      outerPack:
                        numberOfUnits: '10'
                      innerPack:
                        numberOfUnits: '10'
                    - purchaseOrderLineId: '2'
                      quantityInvoiced:
                        value: '20'
                        unitOfMeasure: each
                      unitPrice: '88.00'
                      productIds:
                        buyerItemNumber: '10000004'
                        gtin12: 2837465837
                      productAttributes:
                        description: Orange toothpaste
                      outerPack:
                        numberOfUnits: '8'
                      innerPack:
                        numberOfUnits: '8'
                    - purchaseOrderLineId: '4'
                      quantityInvoiced:
                        value: '10'
                        unitOfMeasure: each
                      unitPrice: '95.00'
                      productIds:
                        buyerItemNumber: '10000001'
                        gtin12: 2837465831
                      productAttributes:
                        description: Yellow toothpaste
                      outerPack:
                        numberOfUnits: '10'
                      innerPack:
                        numberOfUnits: '10'
                    - purchaseOrderLineId: '5'
                      quantityInvoiced:
                        value: '5'
                        unitOfMeasure: each
                      unitPrice: '19.99'
                      productIds:
                        buyerItemNumber: ORDERFUL-TEST-SKU-005A
                        gtin12: 12345678015
                      productAttributes:
                        description: Placeholder product for scenario testing
                      outerPack:
                        numberOfUnits: '1'
                      innerPack:
                        numberOfUnits: '1'
                    allowances:
                    - type: discount
                      amount: '165.75'
                      description: Discount
                    charges:
                    - type: freight
                      amount: '784.99'
                      description: Freight Charge
                    invoiceSalesTotal: '3314.95'
                    invoiceTermsDiscount: '33.15'
                    invoiceTotal: '3934.19'
              inventoryAdvice:
                summary: Inventory Advice (846)
                value:
                  type: 846_INVENTORY_ADVICE
                  stream: test
                  senderId: ACMEPRODUCTS
                  receiverId: RETAILPARTNER
                  message:
                    purpose: full
                    reportType: sellerInventory
                    reportNumber: INV-2024-001234
                    reportDate: '2024-01-15'
                    parties:
                      inventoryLocation:
                        name: West Coast Distribution Center
                        identificationCode: WH001
                        identificationCodeType: warehouse
                        addressLine1: 1234 Logistics Way
                        city: Los Angeles
                        stateOrProvinceCode: CA
                        postalCode: '90001'
                        countryCode: US
                      buyer:
                        name: Retail Partner Inc
                        identificationCode: RETAILPARTNER
                        identificationCodeType: receiversId
                      supplier:
                        name: Acme Products LLC
                        identificationCode: ACMEPRODUCTS
                        identificationCodeType: sendersId
                        contacts:
                        - type: primary
                          name: John Smith
                          email: inventory@acmeproducts.com
                          phoneNumber: 555-123-4567
                    references:
                      vendorNumber:
                        value: VN-98765
                      departmentNumber:
                        value: DEPT-100
                    dates:
                      reportStartDate: '2024-01-01'
                      reportEndDate: '2024-01-15'
                    sellersCurrency:
                      currencyCode: USD
                    notes:
                      general:
                        description: Weekly inventory snapshot
                        text:
                        - Full inventory count as of January 15, 2024
                    lineItems:
                    - lineNumber: '1'
                      productIds:
                        buyerItemNumber: SKU-ABC-001
                        vendorItemNumber: ACME-WIDGET-100
                        gtin12: 12345678901
                      productAttributes:
                        description: Premium Widget - Blue
                        colorDescription: Blue
                        sizeDescription: Large
                      itemStatus: inStock
                      unitOfMeasure: each
                      inventoryQuantities:
                      - locationId: WH001
                        type: available
                        quantity: '500'
                        availableDate: '2024-01-15'
                      - locationId: WH001
                        type: allocated
                        quantity: '75'
                      - locationId: WH001
                        type: incoming
                        quantity: '200'
                        availableDate: '2024-01-22'
                      unitCostPrice: '12.50'
                    - lineNumber: '2'
                      productIds:
                        buyerItemNumber: SKU-ABC-002
                        vendorItemNumber: ACME-WIDGET-200
                        gtin12: 12345678902
                      productAttributes:
                        description: Premium Widget - Red
                        colorDescription: Red
                        sizeDescription: Medium
                      itemStatus: inStock
                      unitOfMeasure: each
                      inventoryQuantities:
                      - locationId: WH001
                        type: available
                        quantity: '1250'
                      - locationId: WH001
                        type: unavailable
                        quantity: '25'
                      unitCostPrice: '10.00'
                    - lineNumber: '3'
                      productIds:
                        buyerItemNumber: SKU-XYZ-001
                        vendorItemNumber: ACME-GADGET-50
                      productAttributes:
                        description: Deluxe Gadget
                      unlimitedAvailability: true
                      unitOfMeasure: each
                      inventoryQuantities:
                      - locationId: WH001
                        type: available
                        quantity: '9999'
                      unitCostPrice: '45.00'
                      references:
                        productType:
                          value: dropship
              purchaseOrderChange:
                summary: Purchase Order Change (860)
                value:
                  type: 860_PURCHASE_ORDER_CHANGE
                  stream: test
                  senderId: RETAILCORP
                  receiverId: ACMEPRODUCTS
                  message:
                    purpose: change
                    purchaseOrderType: standalone
                    purchaseOrderChangeType: order
                    purchaseOrderNumber: PO-2024-001234
                    purchaseOrderDate: '2024-01-10'
                    purchaseOrderChangeDate: '2024-01-15'
                    changeSequenceNumber: '001'
                    acknowledgmentType: withDetail
                    parties:
                      buyer:
                        name: Retail Corp
                        identificationCode: RETAILCORP
                        identificationCodeType: receiversId
                        addressLine1: 100 Commerce Street
                        city: New York
                        stateOrProvinceCode: NY
                        postalCode: '10001'
                        countryCode: US
                        contacts:
                        - type: primary
                          name: Jane Doe
                          email: purchasing@retailcorp.com
                          phoneNumber: 555-987-6543
                      shipTo:
                        name: Retail Corp - Distribution Center
                        identificationCode: DC-EAST-01
                        identificationCodeType: warehouse
                        addressLine1: 500 Warehouse Blvd
                        city: Newark
                        stateOrProvinceCode: NJ
                        postalCode: '07101'
                        countryCode: US
                      supplier:
                        name: Acme Products LLC
                        identificationCode: ACMEPRODUCTS
                        identificationCodeType: sendersId
                    buyersCurrency:
                      currencyCode: USD
                    notes:
                      general:
                        description: Order modification
                        text:
                        - Increasing quantity on line 1, cancelling line 3
                      shippingInstructions:
                        text:
                        - Please expedite shipment due to increased demand
                    termsOfSale:
                      type: basic
                      basisDate: invoiceDate
                      discountPercent: '2'
                      discountDaysDue: 10
                      netDaysDue: 30
                    references:
                      departmentNumber:
                        value: DEPT-200
                      vendorNumber:
                        value: VN-12345
                    dates:
                      requestedDeliveryDate: '2024-02-01'
                      cancelAfterDate: '2024-02-15'
                    carrierDetails:
                      routing:
                      - transportationMethod: lessThanTrailerLoad
                        standardCarrierAlphaCode: UPSN
                        serviceLevel: ground
                      freeOnBoard:
                      - methodOfPayment: prepaidBySeller
                        locationType: destination
                    lineItems:
                    - purchaseOrderLineId: '001'
                      changeReason: changeToItem
                      originalQuantity:
                        value: '100'
                        unitOfMeasure: each
                      changeInQuantity:
                        value: '50'
                        unitOfMeasure: each
                      quantity:
                        value: '150'
                        unitOfMeasure: each
                      unitCostPrice: '25.00'
                      unitPriceBasis: perEach
                      productIds:
                        buyerItemNumber: SKU-WIDGET-001
                        vendorItemNumber: ACME-W100
                        gtin12: 12345678901
                      productAttributes:
                        description: Premium Widget - Standard
                        colorDescription: Black
                      dates:
                        requestedShipDate: '2024-01-25'
                    - purchaseOrderLineId: '002'
                      changeReason: addItem
                      quantity:
                        value: '75'
                        unitOfMeasure: each
                      unitCostPrice: '18.50'
                      unitPriceBasis: perEach
                      productIds:
                        buyerItemNumber: SKU-GADGET-002
                        vendorItemNumber: ACME-G200
                        gtin12: 12345678902
                      productAttributes:
                        description: Deluxe Gadget - New Item
                      notes:
                        general:
                          text:
                          - New item added to order
                    - purchaseOrderLineId: '003'
                      changeReason: deleteItem
                      originalQuantity:
                        value: '50'
                        unitOfMeasure: each
                      quantity:
                        value: '0'
                        unitOfMeasure: each
                      productIds:
                        buyerItemNumber: SKU-TOOL-003
                        vendorItemNumber: ACME-T300
                      productAttributes:
                        description: Basic Tool - Cancelled
      responses:
        '202':
          description: Transaction processing. Check the status field to determine if the transaction was successfully accepted
            for processing or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTransactionResponseV4Dto'
              examples:
                accepted:
                  summary: Transaction Accepted
                  value:
                    id: '802210971'
                    status: ACCEPTED
                    detail: ''
                failed:
                  summary: Transaction Failed (Validation Error)
                  value:
                    id: '802210972'
                    status: FAILED
                    detail: Validation failed
                    validationErrors:
                    - payloadPaths:
                      - message.lineItems[0].productIds
                      errorMessage: At least one product identifier is required
                      outputPath: PO1
  /transactions/{transactionId}/deliveries/{deliveryId}:
    get:
      operationId: TransactionController_getDelivery
      summary: Get a Delivery.
      description: Returns the specified transaction delivery. Links to Delivery objects are available in Transactions retrieved
        from a <a href="https://docs.orderful.com/reference/pollingcontroller_list" target="_blank">Inbox</a> or via an <a
        href="https://docs.orderful.com/docs/inbound-http" target="_blank">Inbound HTTP Communication Channel</a>.
      tags:
      - Transaction
      parameters:
      - name: transactionId
        required: true
        in: path
        schema:
          type: number
      - name: deliveryId
        required: true
        in: path
        schema:
          type: string
      - name: orderful-api-version
        in: header
        description: Specifies the API version to use.
        schema:
          type: string
          default: v4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionDeliveryResponseDto'
  /transactions/{transactionId}/deliveries/{deliveryId}/accept:
    post:
      operationId: TransactionController_handleDeliveryApproved
      summary: Accept a transaction delivery.
      description: Accepts the specified transaction delivery. This link is included when a Transaction is retrieved from
        a <a href="https://docs.orderful.com/reference/inboxcontroller_list" target="_blank">Inbox</a> or via an <a href="https://docs.orderful.com/docs/inbound-http"
        target="_blank">Inbound HTTP Communication Channel</a>.If this Delivery is the most recent one associated with a Transaction,
        this will update the Transaction's `deliveryStatus` to `DELIVERED`.If this Delivery is associated with one or more
        Transactions in a inbox, this will also remove the Transactions from that inbox.
      tags:
      - Transaction
      parameters:
      - name: transactionId
        required: true
        in: path
        schema:
          type: number
      - name: deliveryId
        required: true
        in: path
        schema:
          type: string
      - name: orderful-api-version
        in: header
        description: Specifies the API version to use.
        schema:
          type: string
          default: v4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveTransactionDeliveryRequestV4Dto'
      responses:
        '200':
          description: Transaction delivery marked as accepted.
  /transactions/{transactionId}/deliveries/{deliveryId}/fail:
    post:
      operationId: TransactionController_handleFailDeliveryRequest
      summary: Fail a transaction delivery.
      description: 'Fails the specified transaction delivery. This link is included when a Transaction is retrieved from a
        <a href="https://docs.orderful.com/reference/pollingcontroller_list" target="_blank">Inbox</a> or via an <a href="https://docs.orderful.com/docs/inbound-http"
        target="_blank">Inbound HTTP Communication Channel</a>.


        If this Delivery is the most recent one associated with a Transaction, this will update the Transaction''s `deliveryStatus`
        to `FAILED`.


        If this Delivery is associated with one or more Transactions in a inbox, this will also remove the Transactions from
        that inbox.

        '
      tags:
      - Transaction
      parameters:
      - name: transactionId
        required: true
        in: path
        schema:
          type: number
      - name: deliveryId
        required: true
        in: path
        schema:
          type: string
      - name: orderful-api-version
        in: header
        description: Specifies the API version to use.
        schema:
          type: string
          default: v4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FailTransactionDeliveryRequestV4Dto'
      responses:
        '200':
          description: Transaction marked as failed.
  /v3/transactions/{transactionId}/acknowledgment:
    post:
      operationId: TransactionControllerV3_acknowledgeTransaction
      summary: Create an Acknowledgment
      description: Creates an acknowledgment with the specified status for the specified Transaction.
      tags:
      - Transaction (v3)
      parameters:
      - name: orderful-api-key
        in: header
        required: true
        description: Your Orderful API key.
        schema:
          type: string
      - name: transactionId
        in: path
        required: true
        description: The numeric transaction ID.
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetTransactionAcknowledgmentRequestDto'
      responses:
        '201':
          description: Acknowledgment created successfully.
    get:
      operationId: TransactionControllerV3_getAcknowledgment
      summary: Get an Acknowledgment
      description: Returns the acknowledgment for the specified Transaction.
      tags:
      - Transaction (v3)
      parameters:
      - name: orderful-api-key
        in: header
        required: true
        description: Your Orderful API key.
        schema:
          type: string
      - name: transactionId
        in: path
        required: true
        description: The numeric transaction ID.
        schema:
          type: number
      responses:
        '200':
          description: Acknowledgment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionAcknowledgmentResponseV3Dto'
        '404':
          description: Transaction or acknowledgment not found.
  /v3/transactions/confirm-delivery:
    post:
      operationId: TransactionControllerV3_confirmDelivery
      summary: Confirm the delivery of a set of Transactions
      description: Orderful will soon deprecate this endpoint. After retrieving Transactions from a Polling Bucket, you should
        use the Delivery API to mark a Delivery as <a href="https://docs.orderful.com/reference/deliverycontroller_handledeliveryapproved"
        target="_blank">Approved</a> or <a href="https://docs.orderful.com/reference/deliverycontroller_handlefaildeliveryrequest"
        target="_blank">Failed</a>. This will automatically remove the Transaction from the Bucket.
      deprecated: true
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/BatchConfirmDeliveryBody'
      responses:
        '200':
          description: The confirmation batch was successfully processed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
                example:
                  '12345': Successfully confirmed failed delivery for transaction 12345
                  '99999': Transaction ID 99999 not found
                  '988765': Successfully confirmed delivery for transaction 988765
                  NO_OP: Transaction ID NO_OP not found
      tags:
      - Transaction (v3)
      security:
      - API_KEY: []
  /v3/transactions:
    post:
      operationId: TransactionControllerV3_create
      summary: Create a Transaction
      description: 'Creates a Transaction using the v3 API format. Either a `message` or `summary` must be provided, but not
        both. For guidance on how to use this endpoint, see the <a href="https://docs.orderful.com/docs/create-a-transaction"
        target="_blank">Create a Transaction guide</a>.

        '
      tags:
      - Transaction (v3)
      parameters:
      - name: orderful-api-key
        in: header
        required: true
        description: Your Orderful API key.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransactionBodyV3'
      responses:
        '201':
          description: Transaction created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTransactionResponseV3'
        '400':
          description: Invalid request body.
        '403':
          description: Insufficient permissions.
    get:
      operationId: TransactionControllerV3_list
      summary: List Transactions
      description: 'Returns an array of Transactions sorted in descending order by their creation date. A maximum of 100 Transactions
        will be returned at a time.

        '
      tags:
      - Transaction (v3)
      parameters:
      - name: orderful-api-key
        in: header
        required: true
        description: Your Orderful API key.
        schema:
          type: string
      - name: prevCursor
        in: query
        required: false
        description: 'If results are <a href="https://docs.orderful.com/reference/pagination" target="_blank">paginated</a>,
          this will point to the previous set of results.

          '
        schema:
          type: string
      - name: nextCursor
        in: query
        required: false
        description: 'If results are <a href="https://docs.orderful.com/reference/pagination" target="_blank">paginated</a>,
          this will point to the next set of results.

          '
        schema:
          type: string
      - name: createdAt
        in: query
        required: false
        description: 'The date and time that the Transactions were created on or before, in ISO-8601 format. This is used
          to <a href="https://docs.orderful.com/reference/filtering" target="_blank">filter results</a>.

          '
        schema:
          type: string
      - name: stream
        in: query
        required: false
        description: Indicates whether you want results from the Test and/or Live stream.
        schema:
          type: array
          items:
            type: string
            enum:
            - TEST
            - LIVE
      - name: businessNumber
        in: query
        required: false
        description: 'Indicates which business number(s) you would like to list Transactions from. You may indicate up to
          5 business numbers.

          '
        schema:
          type: array
          maxItems: 5
          items:
            type: string
      - name: transactionType
        in: query
        required: false
        description: 'Indicates the Transaction Type(s) you would like to filter by. You may indicate up to 5 <a href="https://docs.orderful.com/reference/available-transaction-types"
          target="_blank">Transaction Types</a>.

          '
        schema:
          type: array
          maxItems: 5
          items:
            type: string
      - name: validationStatus
        in: query
        required: false
        description: The one or more validation status(es) you would like to filter by.
        schema:
          type: array
          items:
            type: string
            enum:
            - PROCESSING
            - VALID
            - INVALID
      - name: deliveryStatus
        in: query
        required: false
        description: The one or more delivery status(es) you would like to filter by.
        schema:
          type: array
          items:
            type: string
            enum:
            - PENDING
            - SENT
            - DELIVERED
            - FAILED
      - name: acknowledgmentStatus
        in: query
        required: false
        description: The one or more acknowledgment status(es) you would like to filter by.
        schema:
          type: array
          items:
            type: string
            enum:
            - NOT_ACKNOWLEDGED
            - ACCEPTED
            - REJECTED
            - OVERDUE
            - ACCEPTED_WITH_ERRORS
      - name: senderIsaId
        in: query
        required: false
        description: 'The Sender ISA ID(s) that you would like to list Transactions from. You may indicate up to 5 Sender
          ISA IDs.

          '
        schema:
          type: array
          maxItems: 5
          items:
            type: string
      - name: receiverIsaId
        in: query
        required: false
        description: 'The Receiver ISA ID(s) that you would like to list Transactions from. You may indicate up to 5 Receiver
          ISA IDs.

          '
        schema:
          type: array
          maxItems: 5
          items:
            type: string
      - name: referenceIdentifier
        in: query
        required: false
        description: Reference Identifier Value you would like to filter by.
        schema:
          type: string
      - name: senderInterchangeReferenceIdentifier
        in: query
        required: false
        description: Sender's Interchange Reference Identifier Value you would like to filter by.
        schema:
          type: string
      - name: senderGroupReferenceIdentifier
        in: query
        required: false
        description: Sender's (Functional) Group Reference Identifier Value you would like to filter by.
        schema:
          type: string
      - name: senderTransactionReferenceIdentifier
        in: query
        required: false
        description: Sender's Transaction Reference Identifier Value you would like to filter by.
        schema:
          type: string
      - name: receiverInterchangeReferenceIdentifier
        in: query
        required: false
        description: Receiver's Interchange Reference Identifier Value you would like to filter by.
        schema:
          type: string
      - name: receiverGroupReferenceIdentifier
        in: query
        required: false
        description: Receiver's (Functional) Group Reference Identifier Value you would like to filter by.
        schema:
          type: string
      - name: receiverTransactionReferenceIdentifier
        in: query
        required: false
        description: Receiver's Transaction Reference Identifier Value you would like to filter by.
        schema:
          type: string
      responses:
        '200':
          description: List of transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponseV3Dto'
  /v3/transactions/raw:
    post:
      operationId: TransactionControllerV3_createRaw
      summary: Create a raw Transaction
      description: 'Creates a Transaction from a raw document. The request body should contain the raw document content (e.g.
        X12, XML, CSV). Routing metadata is provided via request headers rather than in the body.


        > 🚧 Try It! playground limitation

        >

        > The in-page **Try It!** playground on this reference can only exercise `application/json` request bodies. If you
        are testing or experimenting with `application/xml`, `text/xml`, `text/csv`, `application/pdf`, `image/jpeg`, or `text/plain`
        payloads, use cURL or an HTTP client such as Postman for your ad-hoc requests. Your production integration is unaffected
        — this applies only to the in-browser Try It! tool. The endpoint itself accepts every supported content type from
        any HTTP client.'
      parameters:
      - name: orderful-business-number
        in: header
        description: A business reference number for the Transaction.
        required: true
        schema:
          type: string
      - name: orderful-stream
        in: header
        description: The stream for the Transaction.
        required: true
        schema:
          type: string
          enum:
          - test
          - live
      - name: orderful-transaction-type
        in: header
        description: The Transaction Type name.
        required: true
        schema:
          type: string
      - name: orderful-receiver-id
        in: header
        description: The ISA ID of the receiver.
        required: true
        schema:
          type: string
      - name: orderful-sender-id
        in: header
        description: The ISA ID of the sender.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: 'The content type of the raw document. Supported types: `application/json`, `application/xml`, `text/xml`,
          `text/csv`, `application/pdf`, `image/jpeg`, `text/plain`.'
        required: true
        schema:
          type: string
          enum:
          - application/json
          - application/xml
          - text/xml
          - text/csv
          - application/pdf
          - image/jpeg
          - text/plain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
              format: json
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTransactionResponseV3'
      tags:
      - Transaction (v3)
      security:
      - API_KEY: []
  /v3/transactions/{transactionId}:
    get:
      operationId: TransactionControllerV3_getById
      summary: Get a Transaction
      description: Returns the specified Transaction.
      tags:
      - Transaction (v3)
      parameters:
      - name: orderful-api-key
        in: header
        required: true
        description: Your Orderful API key.
        schema:
          type: string
      - name: transactionId
        in: path
        required: true
        description: The numeric transaction ID.
        schema:
          type: number
      - name: expand
        in: query
        required: false
        description: 'This optional parameter will embed the specified object into the return payload.

          '
        schema:
          type: string
          enum:
          - message
      responses:
        '200':
          description: Transaction details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionV3Dto'
        '404':
          description: Transaction not found.
  /v3/transactions/{transactionId}/message:
    get:
      operationId: TransactionControllerV3_getMessage
      summary: Get a Transaction Message
      description: Returns the specified Transaction's message content.
      tags:
      - Transaction (v3)
      parameters:
      - name: orderful-api-key
        in: header
        required: true
        description: Your Orderful API key.
        schema:
          type: string
      - name: transactionId
        in: path
        required: true
        description: The numeric transaction ID.
        schema:
          type: number
      responses:
        '200':
          description: Transaction message content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMessageWithContentV3Dto'
        '404':
          description: Transaction not found.
components:
  schemas:
    ApproveDeliveryRequestDto:
      type: object
      properties:
        note:
          type: string
    FailDeliveryRequestDto:
      type: object
      properties:
        note:
          type: string
    InboxTransactionsResponseDto:
      type: object
      description: Transaction retrieved from an inbox.
      required:
      - integrationPayloadId
      - transactionId
      - senderId
      - receiverId
      - stream
      - message
      - delivery
      properties:
        integrationPayloadId:
          type: string
          format: uuid
          description: Unique identifier for this integration payload.
          example: 019be412-5a85-714c-8ba6-436c1c06efd8
        transactionId:
          type: integer
          description: Transaction ID.
          example: 802210971
        senderId:
          type: string
          description: Sender ISA ID.
          example: MosaicNT
        receiverId:
          type: string
          description: Receiver ISA ID.
          example: MosaicDemo
        stream:
          type: string
          description: Environment stream.
          enum:
          - test
          - live
          example: test
        message:
          description: Transaction document. Structure depends on the transaction type.
          oneOf:
          - $ref: '#/components/schemas/850_PURCHASE_ORDER'
          - $ref: '#/components/schemas/855_PURCHASE_ORDER_ACKNOWLEDGMENT'
          - $ref: '#/components/schemas/856_SHIP_NOTICE_MANIFEST'
          - $ref: '#/components/schemas/810_INVOICE'
          - $ref: '#/components/schemas/846_INVENTORY_ADVICE'
          - $ref: '#/components/schemas/860_PURCHASE_ORDER_CHANGE'
        delivery:
          $ref: '#/components/schemas/InboxDelivery'
    InboxDelivery:
      type: object
      description: Delivery information with action links.
      required:
      - deliveryId
      - transactionId
      - href
      - approve
      - fail
      properties:
        deliveryId:
          type: string
          format: uuid
          description: Delivery ID.
          example: b646771e-a068-4e32-832f-e96f895c5ec9
        transactionId:
          type: integer
          description: Transaction ID.
          example: 802210971
        href:
          type: string
          format: uri
          description: URL to retrieve delivery details.
          example: https://api.orderful.com/transactions/802210971/deliveries/b646771e-a068-4e32-832f-e96f895c5ec9
        approve:
          $ref: '#/components/schemas/HrefLink'
        fail:
          $ref: '#/components/schemas/HrefLink'
    HrefLink:
      type: object
      required:
      - href
      properties:
        href:
          type: string
    850_PURCHASE_ORDER:
      type: object
      description: Purchase Order document - Buyer sends order to supplier.
      properties:
        purpose:
          type: string
          description: REQUIRED. Transaction purpose (BEG01).
          enum:
          - original
          - cancellation
          - change
          - replace
          - confirmation
        purchaseOrderType:
          type: string
          description: REQUIRED. PO type (BEG02).
          enum:
          - blanketEstimated
          - blanketFirm
          - dropship
          - release
          - rushOrder
          - standalone
        purchaseOrderNumber:
          type: string
          description: REQUIRED. Unique PO number (BEG03).
        purchaseOrderDate:
          type: string
          format: date
          description: REQUIRED. PO issue date (BEG05).
        contractNumber:
          type: string
          description: Contract number (BEG06).
        releaseNumber:
          type: string
          description: Release number for blanket orders (BEG04).
        acknowledgmentType:
          type: string
          description: Acknowledgment request type.
        parties:
          $ref: '#/components/schemas/Parties'
        dates:
          $ref: '#/components/schemas/Dates'
        references:
          $ref: '#/components/schemas/References'
        termsOfSale:
          $ref: '#/components/schemas/TermsOfSale'
        carrierDetails:
          $ref: '#/components/schemas/CarrierDetails'
        notes:
          $ref: '#/components/schemas/Notes'
        monetaryAmounts:
          $ref: '#/components/schemas/HeaderMonetaryAmounts'
        conditionsAndRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/Conditions'
        lineItems:
          type: array
          description: REQUIRED. Order line items (PO1 loop).
          minItems: 1
          items:
            $ref: '#/components/schemas/POLineItem'
    855_PURCHASE_ORDER_ACKNOWLEDGMENT:
      type: object
      description: Purchase Order Acknowledgment document - Supplier confirms or rejects order.
      properties:
        purchaseOrderNumber:
          type: string
          description: REQUIRED. Original PO number being acknowledged (BAK03).
        status:
          type: string
          description: REQUIRED. Overall acknowledgment status (BAK02).
          enum:
          - accepted
          - rejected
        statusReasonCode:
          type: string
          description: Reason code for status.
          enum:
          - discontinued
          - invalidAddress
          - invalidBillToCode
          - invalidItemNumber
          - invalidPrice
          - invalidItemQuantity
          - invalidShipFrom
          - invalidShipMethod
          - invalidShipToName
          - invalidShipToAddress1
          - invalidShipToAddress2
          - invalidShipToCity
          - invalidShipToStateOrProvince
          - invalidShipToPostalCode
          - invalidShipToCountry
          - itemRecall
          - itemSetupIssue
          - mainlandOnly
          - missingLineItemId
          - missingOrderId
          - missingShipId
          - naturalDisaster
          - outOfStock
          - seasonalOrEndOfLife
          - shippingInFull
          - systemIssue
          - taxNexusIssue
          - transportationIssuePrepaid
          - transportationIssueCollect
          - undeliverableAddress
          - weather
        statusNote:
          $ref: '#/components/schemas/NoteDetail'
        dates:
          $ref: '#/components/schemas/POAckDates'
        parties:
          type: object
          properties:
            shipFrom:
              $ref: '#/components/schemas/Party'
            supplier:
              $ref: '#/components/schemas/Party'
        termsOfSale:
          $ref: '#/components/schemas/TermsOfSale'
        lineItems:
          type: array
          description: Acknowledgment line items.
          items:
            $ref: '#/components/schemas/POAckLineItem'
    POAckDates:
      type: object
      properties:
        estimatedDeliveryDate:
          type: string
          format: date
        requestedPickupDate:
          type: string
          format: date
        scheduledShipDate:
          type: string
          format: date
    POAckLineItem:
      type: object
      description: Line item acknowledgment details.
      properties:
        purchaseOrderLineId:
          type: string
          description: Original PO line item ID.
        productIds:
          $ref: '#/components/schemas/ProductIds'
        productAttributes:
          $ref: '#/components/schemas/ProductAttributes'
        actions:
          type: array
          description: REQUIRED. Actions for this line item.
          items:
            $ref: '#/components/schemas/POAckAction'
    POAckAction:
      type: object
      description: Acknowledgment action (accepted, rejected, or backordered).
      properties:
        status:
          type: string
          description: REQUIRED. Action status.
          enum:
          - accepted
          - rejected
          - backordered
        statusReasonCode:
          type: string
          description: Reason code for rejected/backordered status.
        statusNote:
          $ref: '#/components/schemas/NoteDetail'
        quantity:
          $ref: '#/components/schemas/Quantity'
        scheduledShipDate:
          type: string
          format: date
          description: Scheduled ship date.
        estimatedDeliveryDate:
          type: string
          format: date
          description: Estimated delivery date.
        unitCostPrice:
          type: string
          description: Acknowledged unit price (for price changes).
        substitutedItem:
          type: object
          description: Substituted product (for substitutions).
          properties:
            productIds:
              $ref: '#/components/schemas/ProductIds'
    856_SHIP_NOTICE_MANIFEST:
      type: object
      description: Ship Notice / Advanced Shipping Notice (ASN) document - Supplier notifies shipment details.
      properties:
        purpose:
          type: string
          description: Transaction purpose.
          enum:
          - original
          - cancellation
          - change
        shipmentId:
          type: string
          description: REQUIRED. Unique shipment ID (BSN02).
        carrierDetails:
          type: object
          properties:
            quantityAndWeight:
              type: array
              items:
                $ref: '#/components/schemas/CarrierWeightDetails'
            routing:
              type: array
              items:
                $ref: '#/components/schemas/RoutingDetails'
            equipment:
              $ref: '#/components/schemas/EquipmentDetails'
            freeOnBoard:
              type: array
              items:
                $ref: '#/components/schemas/FOBDetails'
            specialHandling:
              type: array
              items:
                $ref: '#/components/schemas/SpecialHandlingDetails'
        references:
          $ref: '#/components/schemas/AsnReferences'
        dates:
          type: object
          properties:
            shipDate:
              type: string
              format: date
            deliveryDate:
              type: string
              format: date
        shippingPaymentTerms:
          type: string
          enum:
          - prepaidBySeller
          - collect
        parties:
          $ref: '#/components/schemas/ShipmentParties'
        allowances:
          type: array
          items:
            $ref: '#/components/schemas/AllowanceCharge'
        charges:
          type: array
          items:
            $ref: '#/components/schemas/AllowanceCharge'
        orders:
          type: array
          description: REQUIRED. Orders in this shipment (HL loops).
          items:
            $ref: '#/components/schemas/AsnOrder'
    AsnReferences:
      type: object
      properties:
        appointmentNumber:
          $ref: '#/components/schemas/ReferenceDetail'
        billOfLadingNumber:
          $ref: '#/components/schemas/ReferenceDetail'
        loadPlanningNumber:
          $ref: '#/components/schemas/ReferenceDetail'
        pickupReferenceNumber:
          $ref: '#/components/schemas/ReferenceDetail'
        proNumber:
          $ref: '#/components/schemas/ReferenceDetail'
        trackingNumber:
          $ref: '#/components/schemas/ReferenceDetail'
        vendorNumber:
          $ref: '#/components/schemas/ReferenceDetail'
    ShipmentParties:
      type: object
      description: Parties involved in shipment.
      properties:
        shipFrom:
          $ref: '#/components/schemas/Party'
        shipTo:
          $ref: '#/components/schemas/Party'
        supplier:
          $ref: '#/components/schemas/Party'
    AsnOrder:
      type: object
      description: Order within a shipment.
      properties:
        purchaseOrderNumber:
          type: string
          description: REQUIRED. PO number.
        releaseNumber:
          type: string
        purchaseOrderDate:
          type: string
          format: date
        customerOrderNumber:
          type: string
        parties:
          type: object
          properties:
            markFor:
              $ref: '#/components/schemas/Party'
        pallets:
          type: array
          items:
            $ref: '#/components/schemas/AsnPallet'
        cartons:
          type: array
          description: Cartons (when not using pallets, SOPI hierarchy).
          items:
            $ref: '#/components/schemas/AsnCarton'
        items:
          type: array
          description: Items directly on order (no pallets or cartons, SOI hierarchy).
          items:
            $ref: '#/components/schemas/AsnItem'
    AsnPallet:
      type: object
      description: Pallet in shipment.
      properties:
        palletType:
          type: string
          enum:
          - chep
          - iGps
          - peco
          - whiteWood
          - hardWood
          - aluminum
          - specifiedByDOT
          - metal
          - standard
          - steel
          - wood
          - slipsheet
          - softWood
        trackingNumber:
          type: string
        serialShippingId:
          type: string
          description: SSCC-18 code.
        layersPerPallet:
          type: integer
        cartonsPerLayer:
          type: integer
        palletExchangeType:
          type: string
          description: Pallet exchange type.
          enum:
          - noExchangeOrReturn
          - exchange
          - return
          - customerPurchase
          - thirdPartyExchange
        palletPhysicalDetails:
          $ref: '#/components/schemas/PhysicalDetails'
        cartons:
          type: array
          items:
            $ref: '#/components/schemas/AsnCarton'
        items:
          type: array
          description: Items directly on pallet (no cartons).
          items:
            $ref: '#/components/schemas/AsnItem'
    AsnCarton:
      type: object
      description: Carton in shipment.
      properties:
        trackingNumber:
          type: string
        serialShippingId:
          type: string
          description: SSCC-18 code.
        cartonPhysicalDetails:
          $ref: '#/components/schemas/PhysicalDetails'
        specialHandling:
          type: array
          items:
            $ref: '#/components/schemas/SpecialHandlingDetails'
        items:
          type: array
          items:
            $ref: '#/components/schemas/AsnItem'
    AsnItem:
      type: object
      description: Item in shipment.
      properties:
        purchaseOrderLineId:
          type: string
        productIds:
          $ref: '#/components/schemas/ProductIds'
        productAttributes:
          $ref: '#/components/schemas/ProductAttributes'
        references:
          $ref: '#/components/schemas/AsnItemReferences'
        lotNumber:
          type: string
        coilNumber:
          type: string
          description: Coil number for industrial materials.
        quantityShipped:
          $ref: '#/components/schemas/Quantity'
        expirationDate:
          type: string
          format: date
        manufactureDate:
          type: string
          format: date
          description: Manufacture date.
        countryOfOrigin:
          type: string
        outerPack:
          $ref: '#/components/schemas/PhysicalDetails'
        innerPack:
          $ref: '#/components/schemas/PhysicalDetails'
    AsnItemReferences:
      type: object
      description: Item-level references for ASN shipments.
      properties:
        heatCode:
          $ref: '#/components/schemas/ReferenceDetail'
        billOfMaterial:
          $ref: '#/components/schemas/ReferenceDetail'
        barCode:
          $ref: '#/components/schemas/ReferenceDetail'
    CarrierWeightDetails:
      type: object
      properties:
        packageForm:
          type: string
          enum:
          - bag
          - carton
          - pallet
        packageMaterial:
          type: string
          enum:
          - corrugated
          - plastic
          - plasticVacuumed
          - standard
          - wood
        weightUOM:
          type: string
          enum:
          - pound
          - kilogram
        grossWeight:
          type: string
        netWeight:
          type: string
    EquipmentDetails:
      type: object
      properties:
        equipmentType:
          type: string
          enum:
          - reefer
          - trailer
        equipmentId:
          type: string
        sealNumber:
          type: string
    SpecialHandlingDetails:
      type: object
      properties:
        handlingType:
          type: string
        description:
          type: string
        materialId:
          type: string
        materialClass:
          type: string
        conditionResponse:
          type: boolean
    810_INVOICE:
      type: object
      description: Invoice document - Supplier bills for shipped goods.
      properties:
        invoiceNumber:
          type: string
          description: REQUIRED. Unique invoice number (BIG02).
        invoiceDate:
          type: string
          format: date
          description: REQUIRED. Invoice date (BIG01).
        invoiceType:
          type: string
          description: Invoice type.
          enum:
          - invoice
          - creditMemo
          - debitMemo
          default: invoice
        purchaseOrderNumber:
          type: string
          description: Related PO number (BIG04).
        purchaseOrderDate:
          type: string
          format: date
          description: PO date (BIG03).
        shipmentIdentification:
          type: string
          description: Related shipment ID.
        originalInvoiceNumber:
          type: string
          description: Original invoice (for credit/debit memos).
        parties:
          $ref: '#/components/schemas/InvoiceParties'
        termsOfSale:
          $ref: '#/components/schemas/TermsOfSale'
        dates:
          $ref: '#/components/schemas/InvoiceDates'
        references:
          $ref: '#/components/schemas/References'
        lineItems:
          type: array
          description: REQUIRED. Invoice line items (IT1 loop).
          minItems: 1
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        allowances:
          type: array
          description: Header-level allowances (SAC loop).
          items:
            $ref: '#/components/schemas/AllowanceCharge'
        charges:
          type: array
          description: Header-level charges (SAC loop).
          items:
            $ref: '#/components/schemas/AllowanceCharge'
        taxes:
          description: Tax details (TXI).
          allOf:
          - $ref: '#/components/schemas/InvoiceTaxes'
        invoiceTotal:
          type: string
          description: Total invoice amount (TDS01).
        invoiceSalesTotal:
          type: string
          description: Amount used to calculate terms discount amount (TDS02).
        invoiceTermsDiscount:
          type: string
          description: Terms discount amount (TDS04).
    InvoiceParties:
      type: object
      description: Parties involved in invoice.
      properties:
        buyer:
          description: Buyer company (N1 segment, BY).
          allOf:
          - $ref: '#/components/schemas/Party'
        shipTo:
          description: Ship-to location (N1 segment, ST).
          allOf:
          - $ref: '#/components/schemas/Party'
        billTo:
          description: Bill-to location (N1 segment, BT).
          allOf:
          - $ref: '#/components/schemas/Party'
        accountsReceivable:
          description: Accounts receivable / Remit To / Payee (N1*RI or PER*AR).
          allOf:
          - $ref: '#/components/schemas/Party'
        accountsPayable:
          description: Accounts payable / Payer for credits (N1*15 or PER*AP).
          allOf:
          - $ref: '#/components/schemas/Party'
    InvoiceDates:
      type: object
      description: Invoice-related dates.
      properties:
        shipDate:
          type: string
          format: date
        deliveryDate:
          type: string
          format: date
        termsNetDueDate:
          type: string
          format: date
        termsDiscountDueDate:
          type: string
          format: date
    InvoiceLineItem:
      type: object
      description: Invoice line item details.
      properties:
        purchaseOrderLineId:
          type: string
          description: Original PO line ID.
        quantityInvoiced:
          description: REQUIRED. Quantity invoiced.
          allOf:
          - $ref: '#/components/schemas/Quantity'
        unitPrice:
          type: string
          description: REQUIRED. Unit price (IT104).
        extendedPrice:
          type: string
          description: Extended price (quantity × unit price).
        productIds:
          description: REQUIRED. Product identifiers.
          allOf:
          - $ref: '#/components/schemas/ProductIds'
        productAttributes:
          $ref: '#/components/schemas/ProductAttributes'
        shipDate:
          type: string
          format: date
        allowances:
          type: array
          items:
            $ref: '#/components/schemas/AllowanceCharge'
        charges:
          type: array
          items:
            $ref: '#/components/schemas/AllowanceCharge'
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/TaxDetails'
        notes:
          $ref: '#/components/schemas/Notes'
    TaxDetails:
      type: object
[...]
